.button {
  width: 2.25em;
  height: 2.25em;
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 50%);
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 1em 0.33em hsl(150, 100%, 66%);
  background-color: hsl(193, 38%, 86%);
}
